<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete post</title>
</head>
<body>
<h1>Delete POST</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/customers">Posts list</a>
</p>
<form th:action="@{/delete-post}" th:object="${post}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>First name:</td>
            <td th:text="${post.title}"></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td th:text="${post.post}"></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td th:text="${post.introduce}"></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td th:text="${post.content}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete Post"></td>
        </tr>
    </table>
</form>
</body>
</html>