<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Posts List</h1>
<a href="/posts">Back to List Post</a>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Introduce</th>
        <th>Name Post</th>
        <th>Content</th>
    </tr>
    <th:block th:each="view : ${views}">
        <tr>
            <td th:text="${view.title}"></td>
            <td th:text="${view.introduce}"></td>
            <td th:text="${view.post}"></td>
            <td th:text="${view.content}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>